__pycache__/

/__pycache__/

opencv-env/
/opencv-env/
send_email.py
video_out_alert_1.mp4
video_out_alert_1.mp4/
/video_out_alert_1.mp4
start_intrusion.bat
/start_intrusion.bat
start_intrusion.bat/



